* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight:500;
}

.navbar {
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;

}

.nav-bar-icon {
  height: 20px;
  margin-left: 20px;
  margin-top: 15px;
}

.nav-list {
  list-style-type: none;
  width: 100%;
  text-align: center;
  padding-top: 10px;

}

.nav-list .list-item {
  display: inline-block;
  padding: 15px 10px;
  
}

.navbar a {
  color: black;
  text-decoration: none;
}

.navbar a:hover {
  color: red;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.menu {
  display: none;
}

.menu-line {
  width: 20px;
  height: 3px;
  background-color: black;
  margin-bottom: 4px;
}

@media all and (max-width: 780px) {
  .navbar {
    flex-direction: column;
    position: relative;
  }

  .menu {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .nav-list {
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    display:none ;
  }

  .nav-list .list-item {
    display: block;
    padding: 20px 10px;
    border-top: 1px solid white;
  }

  .nav-bar-icon {
    margin-top: 20px;
    margin-left: 20px;
  }
  .active {
    display:block;
  }
}

